* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color1: hsl(0, 0%, 100%);
  --color2: hsl(0, 0%, 0%);
  --color3: hsl(0, 0%, 80%);
  --color4: hsl(201, 98%, 79%);
  --color5: hsl(211, 51%, 16%);
}

body,
html {
  background: linear-gradient(120deg, var(--color5), var(--color4));
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

.login {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  margin: auto 50%;
  transform: translate(-50%, 50%);
  width: 300px;
  height: 350px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px;
}

.img-login {
  width: 50px;
  margin: auto 50%;
  transform: translate(-50%);
}

.main-title {
  font-size: 2rem;
  align-items: center;
  color: var(--color2);
  text-align: center;
}

.main-title > span {
  color: var(--color3);
}

.input-username,
.input-password {
  outline: none;
  border: unset;
  height: 40px;
  width: 89%;
  margin: auto 50%;
  transform: translateX(-50%);
  background: none;
  color: var(--color5);
  font-size: 1rem;
  text-align: center;
}

::-webkit-input-placeholder {
  font-size: 1rem;
  color: var(--color4);
  text-align: center;
}

.after-input::after {
  content: "";
  display: block;
  height: 1px;
  background: linear-gradient(90deg, var(--color3), var(--color5));
  margin-bottom: 1rem;
}

.login-btn {
  width: 80%;
  height: 40px;
  margin: 1rem 50%;
  transform: translate(-50%);
  background: linear-gradient(
    120deg,
    var(--color4),
    var(--color5),
    var(--color4)
  );
  background-size: 200%;
  border: 2px solid var(--color3);
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color1);
  transition: 0.3s ease;
  text-align: center;
  line-height: 35px;
}

.login-btn:hover {
  background-position: 99%;
}

.reset-login {
  text-decoration: none;
  text-align: center;
  color: var(--color5);
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out,
    transform 0.25s ease-in-out;
}

.name-password,
.reset-password {
  background: var(--color1);
  padding: 16px 24px;
  width: 350px;
  border-radius: 0.5rem;
}

.close-reset-password,
.close-name-password {
  float: right;
  width: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background: var(--color3);
}

.modal-p {
  font-size: 1rem;
  color: var(--color5);
}

.input-modal {
  outline: none;
  border: unset;
  border-bottom: 2px solid var(--color5);
  width: 80%;
  margin: 10%;
  color: var(--color5);
  font-size: 1rem;
  text-align: center;
}

.modal-btn {
  background: linear-gradient(90deg, var(--color4), var(--color5));
  border: 2px solid var(--color3);
  width: 80%;
  height: 30px;
  margin: 0 10%;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
